In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
filename = "alt_fuel_stations_ev_charging_units.csv"
df = pd.read_csv(filename)

/var/folders/6f/p100346d3_qb7lv_xr51lqcr0000gn/T/ipykernel_60297/2689104952.py:2: DtypeWarning: Columns (6,13,20,29,31,45,46,47,54,63,64,69,72,73,74) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename)

In [3]:
df.shape

(230507, 83)

In [4]:
df.columns

Index(['Fuel Type Code', 'Station Name', 'Street Address',
       'Intersection Directions', 'City', 'State', 'ZIP', 'Plus4',
       'Station Phone', 'Status Code', 'Expected Date',
       'Groups With Access Code', 'Access Days Time', 'Cards Accepted',
       'BD Blends', 'NG Fill Type Code', 'NG PSI', 'EV Level1 EVSE Num',
       'EV Level2 EVSE Num', 'EV DC Fast Count', 'EV Other Info', 'EV Network',
       'EV Network Web', 'Geocode Status', 'Latitude', 'Longitude',
       'Date Last Confirmed', 'ID', 'Updated At', 'Owner Type Code',
       'Federal Agency ID', 'Federal Agency Name', 'Open Date',
       'Hydrogen Status Link', 'NG Vehicle Class', 'LPG Primary',
       'E85 Blender Pump', 'EV Connector Types', 'Country',
       'Intersection Directions (French)', 'Access Days Time (French)',
       'BD Blends (French)', 'Groups With Access Code (French)',
       'Hydrogen Is Retail', 'Access Code', 'Access Detail Code',
       'Federal Agency Code', 'Facility Type', 'CNG Dispenser Num',
       'CNG On-Site Renewable Source', 'CNG Total Compression Capacity',
       'CNG Storage Capacity', 'LNG On-Site Renewable Source',
       'E85 Other Ethanol Blends', 'EV Pricing', 'EV Pricing (French)',
       'LPG Nozzle Types', 'Hydrogen Pressures', 'Hydrogen Standards',
       'CNG Fill Type Code', 'CNG PSI', 'CNG Vehicle Class',
       'LNG Vehicle Class', 'EV On-Site Renewable Source', 'Restricted Access',
       'RD Blends', 'RD Blends (French)', 'RD Blended with Biodiesel',
       'RD Maximum Biodiesel Level', 'NPS Unit Name',
       'CNG Station Sells Renewable Natural Gas',
       'LNG Station Sells Renewable Natural Gas', 'Maximum Vehicle Class',
       'EV Workplace Charging', 'Funding Sources', 'EV J1772 Connector Count',
       'EV J1772 Power Output (kW)', 'EV CCS Connector Count',
       'EV CCS Power Output (kW)', 'EV CHAdeMO Connector Count',
       'EV CHAdeMO Power Output (kW)', 'EV J3400 Connector Count',
       'EV J3400 Power Output (kW)'],
      dtype='object')

In [5]:
# Define a unique location identifier using relevant columns
location_columns = ['Station Name', 'Street Address', 'City', 'State', 'ZIP',
                   'Latitude', 'Longitude', 'Open Date', 'EV Pricing']

# Columns to aggregate
ev_columns = [
    'ID',
    'EV J1772 Connector Count', 'EV J1772 Power Output (kW)',
    'EV CCS Connector Count', 'EV CCS Power Output (kW)',
    'EV CHAdeMO Connector Count', 'EV CHAdeMO Power Output (kW)',
    'EV J3400 Connector Count', 'EV J3400 Power Output (kW)'
]

# Group by location and aggregate connector counts by sum, power outputs by max
aggregation = {
    'ID': 'min',
    'EV J1772 Connector Count': 'sum',
    'EV J1772 Power Output (kW)': 'max',
    'EV CCS Connector Count': 'sum',
    'EV CCS Power Output (kW)': 'max',
    'EV CHAdeMO Connector Count': 'sum',
    'EV CHAdeMO Power Output (kW)': 'max',
    'EV J3400 Connector Count': 'sum',
    'EV J3400 Power Output (kW)': 'max'
}

# Group and aggregate
condensed_df = df.groupby(location_columns, dropna=False).agg(aggregation).reset_index()

condensed_df.head()

,Station Name,Street Address,City,State,ZIP,Latitude,Longitude,Open Date,EV Pricing,ID,EV J1772 Connector Count,EV J1772 Power Output (kW),EV CCS Connector Count,EV CCS Power Output (kW),EV CHAdeMO Connector Count,EV CHAdeMO Power Output (kW),EV J3400 Connector Count,EV J3400 Power Output (kW)
0,#1 Cochran Nissan,3355 William Penn Hwy,Pittsburgh,PA,15235,40.431420,-79.814250,2012-01-31,Free,47784,2.0,NaN,0.0,NaN,1.0,44.0,0.0,NaN
1,#333 LONG BEACH 333 LONG BEACH,4041 N Lakewood Blvd,Long Beach,CA,90808,33.831509,-118.143014,2020-06-12,NaN,159424,1.0,6.5,0.0,NaN,0.0,NaN,0.0,NaN
2,(400) BUILDING BUILDING 4,4493 Brownsville Road,Powder Springs,GA,30127,33.845016,-84.696058,2024-05-11,NaN,346091,2.0,6.5,0.0,NaN,0.0,NaN,0.0,NaN
3,(Employee) Silver Lake Water and Sewer Distric...,15205 41st Ave SE,Bothell,WA,98012,47.859877,-122.176374,2023-01-10,NaN,322564,2.0,10.4,0.0,NaN,0.0,NaN,0.0,NaN
4,(NIAID) National Institute of Allergy and infe...,5601 Fishers Lane,Rockville,MD,20852,39.064175,-77.112563,2022-11-30,Free,241187,4.0,17.3,0.0,NaN,0.0,NaN,0.0,NaN

In [6]:
# Convert Latitude and Longitude columns to numeric values
condensed_df['Latitude'] = pd.to_numeric(condensed_df['Latitude'], errors='coerce')
condensed_df['Longitude'] = pd.to_numeric(condensed_df['Longitude'], errors='coerce')

# Drop rows where either Latitude or Longitude is NaN
df_clean = condensed_df.dropna(subset=['Latitude', 'Longitude'])

# Optionally, reset the index after dropping rows
df_clean.reset_index(drop=True, inplace=True)

# Now df_clean contains only rows with valid numeric Latitude and Longitude.
print(df_clean[['Latitude', 'Longitude']].head())

    Latitude   Longitude
0  40.431420  -79.814250
1  33.831509 -118.143014
2  33.845016  -84.696058
3  47.859877 -122.176374
4  39.064175  -77.112563

In [7]:
df_clean.shape

(82229, 18)

In [8]:
df_clean.to_csv(filename[:-4]+"_cleaned.csv", index=False)